<get-date></get-date>
<h3>Big Sky Hospice</h3>
<h4>Nurse Visit Form</h4>
<!-- <div>Click on patient below to choose</div> -->
<!-- <div class = "patients" ng-repeat = "patient in patientList">
      <div ng-click="selectPt(patient)">{{patient.person}} {{patient.dignosis}} {{patient.ICD9code}}</div>
  </div> -->
<div class="patients" ng-repeat = "patient in patientList | filter:find">
  {{patient.person}}
</div>
<input placeholder = "Find patient" type = "text" ng-model = "ptName"></input>  
<button ng-click="findPatient(ptName)">Submit</button> 
  Pt Selected: {{ptSearch.person}} {{ptSearch.ICD9code}} {{ptSearch.diagnosis}}
  </div>
<form class="patientForm"> Date of Visit:
    <input type="date" name="visit">
</form>
<form ng-model = "typeOfVisit">Type of visit
    <input type="radio" name="visit" value="intake/initial" checked>intake/initial</intake <br>
    <input type="radio" name="visit" value="regular">regular/scheduled</input>
    <input type="radio" name="visit" value="emergency/call">emergency/call</input>
</form>
<div class='mileage calculation'>
    <input placeholder="Mileage" type="value" ng-model="miles"></input>
<button ng-click="mileageCalc(miles)">
      </calcReim>Submit</button>
<div class="money">reimbursement: ${{reimbursement}}</div>
</div>


</div>
  
<hospice-name></hospice-name> 
  
